* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-box {
    background-color: #FFC0CB; /* Light pink color */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 80%;
    max-width: 800px; /* Increased max-width for larger content */
    text-align: center;
}

.content {
    text-align: left; /* Align text within the content box to the left */
}

h1 {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}
